<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        
        <h1>
          URL Shortener Microservice
        </h1>
        
        <p>
          <b>To shorten a URL, add "/new/http://www.yourwebsite.com" to the URL bar.</b><br>
          Example: "https://shorter-url.glitch.me/new/http://www.google.com"<br>
          Note: URLs must begin with http://, https://, or at least www.
        </p>
        
        <p>
          <b>To be redirected to a shortened URL, add the shortened URL to the URL bar.</b><br>
          Example: https://shorter-url.glitch.me/SaKxt will redirect your browser to "http://google.com".
        </p>
        
        
        
      </div>
   </body>

</html>
